.parent-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.child-box {
    display: flex;
    width: 25%;
    background-color: aqua;
    height: 200px;
    margin: 10px;
    align-items: center;
    flex-direction: column;
}

.one {
    background-color: cadetblue;
    /* flex: 1; */
}

.two {
    background-color: red;
    /* flex:2; */
}

.three {
    background-color: chocolate;
}

.four {
    background-color: darkblue;
}

.five {
    background-color: darkgrey;
}

.six {
    background-color: brown;
}