@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
    /* border-color: red;
    border-width: 2px;
    border-style: solid; */
    /* border: red 2px solid;
    padding: 5px;
    margin: 2px; */
}

body {
    font-family: 'Indie Flower', cursive;
    background-image: url(ambrosefaded.jpg);



}

h1 {
    color:#b54749;
    font-size: 4em;
    border: pink 2px solid;
}

h2 {
    color:crimson;
    font-size: 3em;
    width: 500px;
}

p {
    font-size: 1em;
}

li {
    font-size: 1em;
}

.para1 {
    color:fuchsia;
    border: blue 2px solid;
}

.para2 {
    color:darksalmon
}

.fred {
    color:red
}

#my_hobies {
    background-color: antiquewhite;
    color:blueviolet
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navitem {
    background-color:honeydew;
    color:darkblue;
    border: darkblue 2px solid;
    border-radius: 10px;
    width: 100px;
    margin-right: 20px;
    text-align: center;
}